.page.theme_light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --decoration-color: #353430;
  --heading-color: #353430;
  --title-color: #ffc2e6;
  --cover-image: url(../images/cover-image-light.png);
}

.theme_light .rec-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --decoration-color: #353430;
    --heading-color: #353430;
    --title-color: #ffc2e6;
    --cover-image: url(../images/cover-image-light.png);
  }

  .rec-decoration {
    display: none;
  }
}