/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.prevent-bold {
  font-weight: normal;
}

.decorated-text {
  font-size: inherit;
  color: var(--heading-color);
  background-color: var(--accent-color);
}

.page {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 18px;
  background-color: var(--bg-color);
  background-attachment: fixed;
  font-weight: 400;
  position: relative;
}

.page::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.text-bold {
  font-weight: 700;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  padding-block-start: 75px;
  padding-block-end: 66px;
  display: flex;
  gap: 55px;
  flex-direction: column;
  align-items: center;
  width: calc(100% - var(--root-gap) * 2);
  margin: 0 auto;
}

.decorated-zone::before, .decorated-zone::after {
  --element-size: 25px;
  --decorated-border-style: 1px solid var(--decoration-color);

  content: "";
  position: absolute;
  inline-size: var(--element-size);
  block-size: var(--element-size);
}

.decorated-zone::before {
  border-block-start: var(--decorated-border-style);
  border-inline-end: var(--decorated-border-style);
  inset-inline-end: 0;
  inset-block-start: var(--root-gap);
}

.decorated-zone::after {
  border-block-end: var(--decorated-border-style);
  border-inline-start: var(--decorated-border-style);
  inset-inline-start: 0;
  inset-block-end: var(--root-gap);
}

.rec-decoration {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  line-height: 139%;
  position: absolute;
  inset-block-start: var(--root-gap);
  inset-inline-end: var(--root-gap);
}

.rec-decoration::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  align-self: flex-end;
  color: var(--decoration-color);
  width: 70px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  text-transform: lowercase;
}

.header__theme-menu-button {
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  padding: 0;
  text-transform: inherit;
  background-color: transparent;
  text-align: center;
  width: 100%;
  line-height: 24px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
  pointer-events: none;
} 

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  position: absolute;
  content: "";
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--decoration-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, currentColor 40%, transparent);
}

.header__title, .footer__title {
  text-shadow: 4px 4px var(--accent-color);
  color: var(--title-color);
  font-size: var(--title-size);
  line-height: 83%;
  align-self: center;
  margin-block-start: var(--root-gap);
  width: 100%;
}

.header__text {
  margin-inline: 0;
  padding-inline-end: 50px;
  max-width: 355px;
  white-space: pre-line;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  max-width: calc(100% - 2 * var(--root-gap));
  margin: 0 auto;
  gap: var(--root-gap);
}

.section__title:not(.decorated-text) {
  --section-title-color: var(--decoration-color);

  font-size: inherit;
  line-height: var(--default-line-height);
  color: var(--section-title-color);
}

.text-cards {
  margin-block-start: 10px;
  display: grid;
  gap: var(--root-gap);
}

.section__subtitle, .text-card__title {
  margin-top: 10px;
}

.section__subtitle {
  margin-top: 20px;
}

.text-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-card__text {
  line-height: var(--default-line-height);
}

.text-card__reference {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-card__reference:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-card__reference:focus {
  outline: none;
}

.text-card__reference:focus-visible {
  outline: 1px solid var(--text-color);
}

.grid-images {
  margin-top: var(--root-gap);
  display: grid;
  gap: var(--root-gap);
}

.grid-images__element {
  line-height: 0;
}

.grid-images__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  margin: 0 auto;
  block-size: 100vh;
  min-block-size: 668px;
  width: calc(100% - var(--root-gap) * 2);
}

.footer__title {
  text-shadow: 2px 2px var(--accent-color);
  text-align: center;
}

@media (width >= 768px) {
  .page {
    row-gap: 60px;
  }

  .header {
    padding-block-start: 192px;
    padding-block-end: 183px;
    gap: 153px;
  }

  .header__title {
    width: calc(100% + var(--root-gap) * 2);
  }

  .header__text {
    margin-block-start: 9px;
    align-self: flex-end;
    max-width: calc(100% / 2);
  }

  .rec-decoration {
    inset-inline-end: 9px;
  }

  .main {
    gap: 80px;
  }

  .why, .how {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .what {
    display: flex;
    flex-direction: column;
  }

  .what .section__title:not(.decorated-text) {
    max-width: min-content;
  }

  .text-cards {
    margin: 0;
  }

  .text-card__title {
    margin-top: 0;
  }

  .section__content-block {
    display: flex;
    flex-direction: column;
    gap: var(--root-gap);
  }

  .section__subtitle {
    margin: 0;
  }

  .grid-images {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-images__element:first-of-type,
  .grid-images__element:last-of-type {
    grid-column: span 2;
  }

  .grid-images__element:nth-of-type(2),
  .grid-images__element:nth-of-type(3) {
    grid-row: span 2;
  }

  .footer__title {
    margin-block-start: 0;
  }
}

@media (width >= 1024px) {
  .header {
    padding-block: var(--root-gap);
    gap: 114px;
  }

  .header__title {
    margin-block-start: 159px;
  }

  .header__text {
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 114px;
  }

  .header__theme-menu {
    align-self: center;
    width: fit-content;
  }

  .header__theme-menu-list {
    width: 230px;
    grid-template-columns: repeat(3, 1fr);
  }

  .why, .how {
    grid-template-columns: 1fr 2.06fr;
  }

  .what .section__title:not(.decorated-text) {
    max-width: calc(100% / 3 - (2 * var(--root-gap)));
  }

  .what .text-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1440px) {
  .page {
    padding-inline: calc((100% - 1440px) / 2);
  }
}