/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 18px;
  background-color: var(--bg-color);
  font-weight: 400;
  position: relative;
}

.page::after {
  opacity: 50%;
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.text-bold {
  font-weight: 700;
}

.header {
  position: relative;
  padding-block-start: 75px;
  padding-block-end: 66px;
  display: flex;
  gap: 55px;
  flex-direction: column;
  align-items: center;
  max-width: calc(100% - 10px * 2);
  margin: 0 auto;
}

.decorated-zone::before, .decorated-zone::after {
  --element-size: 25px;

  content: "";
  position: absolute;
  inline-size: var(--element-size);
  block-size: var(--element-size);
}

.decorated-zone::before{ 
  border-block-start: var(--decorated-border-style);
  border-inline-end: var(--decorated-border-style);
  inset-inline-end: 0;
  inset-block-start: var(--root-gap);
}

.decorated-zone::after{ 
  border-block-end: var(--decorated-border-style);
  border-inline-start: var(--decorated-border-style);
  inset-inline-start: 0;
  inset-block-end: var(--root-gap);
}

.rec-decoration {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  line-height: 139%;
  position: absolute;
  inset-block-start: var(--root-gap);
  inset-inline-end: var(--root-gap);
}

.rec-decoration::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  align-self: flex-end;
  color: var(--accent-color);
  width: 70px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: lowercase;
}

.header__theme-menu-item {
  border: 1px solid transparent;
}

.header__theme-menu-item:has(.header__theme-menu-button_active)  {
  border: var(--decorated-border-style);
  pointer-events: none;
}

.header__theme-menu-button {
  padding: 0;
  text-transform: inherit;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
  line-height: 24px;
  cursor: pointer;
}

.header__title {
  --text-color: #db00ff;

  text-shadow: 4px 4px var(--decoration-color);
  color: var(--text-color);
  font-size: var(--title-size);
  line-height: 83%;
  align-self: center;
  width: min-content;
  margin-block-start: 10px;
  width: 100%;
}

.header__text {
  --text-color: #000028;
  background-color: var(--accent-color);
  margin-inline: 0;
  padding-right: 50px;
  max-width: 355px;
  color: var(--text-color);
}

