/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --font-family: "IBM Plex Mono", sans-serif;
  --bg-color: #000028;
  --heading-color: #000028;
  --decoration-color: #ff0070;
  --title-color: #db00ff;
  --decorated-border-style: 1px solid var(--decoration-color);
  --cover-image: url(../images/cover-image-dark.png);
  --title-size: 116px;
  --root-gap: 10px;
  --default-line-height: 1.3;
}